.hero-unit
  %h1
    Your Booksmartlet
    %small="#{@user.email}"

  %hr

  %p
    %a.btn.btn-large{:href => get_bookmarklet('bookmarklet.js', {:url => iframe_app_index_url, :api_key => @user.api_key }) }
      %i.icon-bookmark
      Booksmartlet
