/ .hero-unit
%h1
  Welcome Back!
  %small
    All you gotta do now is use your bookmarklet.

.row-fluid
  .span12
    .well
      %h2
        Your booksmartlet...

      %p
        all you gotta do is drag the button below to your bookmark bar and you are all set. 

      .form-actions
        %a.btn.btn-large.btn-info{:href => get_bookmarklet('bookmarklet.js', {:url => iframe_app_index_url, :api_key => @user.api_key }) }
          %i.icon-bookmark.icon-white
          Booksmartlet
  / .span4
  /   .well
  /     %h2
  /       Import your bookmarks.
  /     %a.btn.btn-large.btn-info{:href => new_import_path()}
  /       Upload Bookmarks
