.hero-unit
  %h1
    Howdy!
    %small
      All you gotta do now is use your bookmarklet.
  #ribbon

.row
  .span12
    .well
      %h2
        Your booksmartlet...
      %p
        all you gotta do is drag the button below to your bookmark bar and you are all set. 

      %a.btn.btn-large.btn-primary{:href => get_bookmarklet('bookmarklet.js', {:url => iframe_app_index_url, :api_key => @user.api_key }) }
        %i.icon-bookmark.icon-white
        Booksmartlet
