= debug session
.hero-unit
  %h1
    Booksmartlet
    %small Start hoarding the internet.
  #ribbon

.row
  .span8
    .well
      %h2 Already Got One?
      %form.form-search{:action => login_index_path, :method => 'post'}
        .control-group
          .controls
            %input.span4.search-query{:type=>'text', :name => 'email', :placeholder => 'Email', :value => params[:email]}
        .input-append
          %input.span3.search-query{:type=>'password', :name => 'password', :placeholder => 'Password', :value => params[:password]}
          %input.btn.span2.btn-primary.btn{:type => 'submit', :value => "Go"}

  .span4
    .well
      %h2 Need One?

      %p
        Don't have a booksmartlet? Get one super quick. All we need is an email and a password. 

      %a.btn.btn-info.btn-large{:href => new_user_path} Get One Now!

