.hero-unit
  %h1
    Booksmartlet
    %small Start hoarding the internet.
  .row-fluid
    .span6
      %form.well{:action => login_index_path, :method => 'post'}
        %h2 Already Got One?
        %input{:type=>'text', :name => 'email' ,:placeholder => 'Email', :value => params[:email]}
        %input{:type=>'password', :name => 'password' ,:placeholder => 'Password', :value => params[:password]}
        %input.btn.btn-primary.btn-large{:type => 'submit', :value => "Get It"}

    .span6
      .well
        %h2 Need One?
        %a.btn.btn-info.btn-large{:href => new_user_path} Go Make One

