@import 'mixins.css.less';

html,body{
  margin:0;
  padding:0;
  overflow-x:hidden;
  overflow-y:auto;
  background-color:#efefef;
  border:none;
}

#main{
  padding:0;
}
#content{
  padding:0;
  margin:0;
  margin-top:50px;
}

.bookmark{
  display:block;
  padding:4px;
  border-top:1px solid #dfdfdf;
  border-bottom:1px solid #ffffff;
  #gradient.vertical(#ffffff,#dfdfdf);
  overflow:auto;
  
  a.link{
    color: #333;
    display:inline-block;
    width:280px;
    font-weight:bold;
  }
  
  
  p.notes{
    font-size:11px;
    line-height:11px;
    color:#666;
    font-style:italic;
  }
}

#note{
  background-color:lighten(#f3edd2, 10%);
  color: darken(#c09853, 35%);
  line-height:16px;
  height:200px;
}

.btn{
/*  .border-radius(12px);*/
/*  .box-shadow( inset 0px 0px 3px #fff );*/
}

input[type="text"],textarea{
/*  .box-shadow( inset 1px 1px 3px #dfdfdf );*/
  border:1px solid #ccc;
}

#top-bar{
  background-color:#444;
  position:fixed;
  top:0;
  left:0;
  padding: 10px;
  padding-bottom:12px;
  #gradient.vertical(#444,#111);
  .box-shadow(0px 0px 8px #222);
  
  .btns{
    display:inline-block;
    float:left;
    width:auto;
    
    #add-mark.active{
      border-color:#000;
      .box-shadow( inset 2px 2px 5px darken( #9d261d, 20%) );
    }
    
    #add-note.active{
      border-color:#000;
      .box-shadow( inset 2px 2px 5px darken( #9d261d, 20%) );
    }
  }
  
  .search-form{
    display:inline-block;
    float:left;
    margin-left:12px;
    width:auto;
    
    input[type="text"]{
      background-color:#444;
      .box-shadow( inset 1px 1px 4px #000 );
      border:1px solid #000;
      color:#dfdfdf;
      width:200px;
      
      &:focus{
        background-color:#efefef;
        .box-shadow( inset 1px 1px 3px #ccc );
        color:#444;
      }
    }
  }
}

legend{
  padding:10px;
  font-weight:bold;
  text-shadow:1px 1px 1px #fff;
  line-height:20px;
  background-color:#fff;
}

.form-horizontal{

  .control-group{ 
    margin:0;
    padding: 2%;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    display:block;
    background-color:#efefef;
    
    input[type="text"],textarea{
      width:95%;
    }
    
    &:last-child{
      .box-shadow(0px 0px 5px #fff );
    }
    
    .label-important{
      margin-right:2px;
      font-size:11px;
    }
  }
}

.action-bar{
  position:fixed;
  bottom:0;
  left:0;
  height:60px;
  width:100%;
  border-top:1px solid #fff;
  #gradient.vertical(#fff,#999);
  .box-shadow(0px 0px 8px #888);
  text-align:center;
  
  .btn-container{
    display:inline-block;
    width:auto;
    
    .btn-large{
      margin-top:10px;
    }
  }
}

/*.form-horizontal .control-group:nth-child(even){ 
  background-color:#efefef;
}
*/
.tag-container{
  margin-top:8px;
  display:block;
  overflow:hidden;
  
  .badge{
    margin:1px;
    .box-shadow();
    
    a.delete{
      margin-right:3px;
      color:white;
      font-weight:bold;
      font-size:12px;
    }
  }
}

.alert-block{
  .border-radius(0px);
}

.row{
  margin:0;
}

#note-body{
  padding:10px;
}

.breadcrumb{
  .border-radius(0px);
  margin-bottom:0px;
  #gradient.vertical(#efefef,#ccc);
  .box-shadow(inset 0px 0px 10px #ccc);
  border:none;
  
  a{
    color:#555;
  }
  
  li.active{
    color:#777;
  } 
}
