@import 'mixins.css.less';

body{
  background-color:#222;
  padding-top:30px;
  background-image: url("/assets/stripe.png");
}

.hero-unit{
  .box-shadow(0px 0px 10px #000);
  border:15px solid #333;
  #translucent.border(#333,50%);
  #translucent.background(#111,85%);
  padding:40px;
  .border-radius(10px);
  
  h1{
    font-size:54px;
    color:#333;
    text-shadow: 1px 1px 1px darken(#666,8%), -1px -1px 1px lighten(#000,5%);
    margin-bottom:20px;
    
    small{
      text-shadow:none;
    }
  }
  
  hr{
    border-top:black;
    border-bottom:#999;
  }
  
  .well{
    background-color:#999;
    .box-shadow();
    min-height:180px;
    
    h2{
      margin-bottom:8px;
      border-bottom:1px solid #777;
    }
  }
  
}

