#flash
.alt-msg

%form#the-form
  .control-group
    .controls
      %input#name-input{:type=>'text', :name => 'name'}
  .control-group
    .controls
      %input#city-input{:type=>'text', :name => 'city'}