!!!
%html
  %head
    %title Booksmartlet
    %meta{:name => 'keywords', :content => "bookmarks, cloud solution" }
    %link{:rel => "stylesheet", :href => "/stylesheets/iframe.css", :type => "text/css", :media => "screen"}
    = javascript_include_tag :iframe
    = csrf_meta_tags
    = yield :head

  %body

    #main.container-fluid
      #top-bar.row-fluid

      #content.row-fluid
        = yield
